/* CLASSI HEADER */
header {
  height: 80px;
}
.logo-mobile {
  width: 60px;
}
/* CLASSI NAVBAR */
nav {
  width: 80px;
  background-color: aqua;
  height: calc(100vh - 80px);
  background-image: url(./img/sidebar-bg.png);
  background-color: #11283e;
  color: white;
}
a {
  text-decoration: none;
  color: currentColor;
}
/* CLASSI MAIN */
.main-content {
  width: calc(100% - 50px);
  background-color: skyblue;
  height: calc(100vh - 80px);
}

.jumbo {
  background-color: #1b72e8;
  height: 20vh;
}
/************ CLASSI RESPONSIVE ************/
/* NAVBAR */
@media screen and (min-width: 991px) {
  nav {
    width: 200px;
  }
}
@media screen and (min-width: 991px) {
  .nav-small {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .nav-large {
    display: none;
  }
}
/* HEADER */
